* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(background.jpg) no-repeat top center fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: halloween;
    src: url(./fonts/Halloween.ttf);
}

@font-face {
    font-family: toxtypewriter;
    src: url(./fonts/ToxTypewriter.ttf);
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Nav
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


nav {
    display: flex;
    height: 0;
    justify-content: flex-end;
    margin-right: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-link {
    align-items: flex-end;
    background: black;
    -moz-border-radius: 0 0 10% 10%;
    -webkit-border-radius: 0 0 10% 10%;
    border-radius: 0 0 10% 10%;
    color: #eee1c1;
    display: flex;
    flex-wrap: wrap;
    height: 108px;
    justify-content: center;
    margin: 0 5px 0 5px;
    padding-bottom: 12px;
    text-align: center;
    transform: translate3d(0,-70px,0);
    transition: transform 0.35s;
    width: 3%;
}

.nav-text-small {
    font-size: 11px;
}

.nav-text {
    font-size: 13px;
}

.nav-link i {
    font-size: auto;
    width: 100%;
}

#current-page {
    color: #ab1c20;
}

.last-link {
    margin-right: 40px;
}

.nav-link:hover {
    transform: translate3d(0,0,0);
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Homepage
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*.homepage-title {
    font-family: appleberry;
    font-size: 4em;
}*/

.homepage-recipes {
    width: 25%;
    height: 100vh;
    text-align: center;
    background: black;
    overflow: scroll;
}

.logo {
    font-size: 50px;
    color: #eee1c1;
    font-family: toxtypewriter;
    margin: 0;
}

.course-switcher {
    display: flex;
    color: #ab1c20;
    border: 2px solid #ab1c20;
    width: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}

.course-switcher-option {
    border: 1px solid #ab1c20;
    width: 33.33333%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-switcher-selected {
    background: #ab1c20;
    color: black;
    font-weight: bold;
}

h4 {
    color: #ab1c20;
}

.homepage-recipe-link {
    color: #eee1c1;
}

.homepage-ingredients {
    width: 75%;
    height: 100vh;
    overflow: scroll;
}

.homepage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.homepage-courses-Breakfast, .homepage-courses-Dessert {
    display: none;
}

.homepage-pic {
    background-position: center;
    background-size: cover;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    height: 8em;
    margin: 10px;
    position: relative;
    visibility: visible;
    width: 8em;
}

.fruit-container {
    background: rgb(123, 31, 162);
    border-radius: 100%;
    visibility: hidden;
}
.vegetables-container {
    background: rgb(67, 160, 71);
    border-radius: 100%;
    visibility: hidden;
}
.herbs-container {
    background: rgb(124, 179, 66);
    border-radius: 100%;
    visibility: hidden;
}
.nuts-container {
    background: rgb(109, 76, 65);
    border-radius: 100%;
    visibility: hidden;
}
.sea-container {
    background: rgb(30, 136, 229);
    border-radius: 100%;
    visibility: hidden;
}
.air-container {
    background: rgb(253, 216, 53);
    border-radius: 100%;
    visibility: hidden;
}
.land-container {
    background: rgb(229, 57, 53);
    border-radius: 100%;
    visibility: hidden;
}

.active-ingredient {
    visibility: visible;
}


/* Popup */


.homepage-popup {
    background: black;
    border-radius: 5px;
    color: #eee1c1;
    margin-left: -128px;
    position: absolute;
    text-align: center;
    top: 100%;
    transition: 0s visibility;
    visibility: hidden;
    width: 300%;
    z-index: 1;
}

.homepage-pic:hover .homepage-popup {
    transition-delay: 0.5s;
    visibility: visible;
}

.homepage-popup::after {
    border-color: transparent transparent black transparent;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    left: 50%;
    margin-left: -5px;
    position: absolute;
}

.popup-name {
    margin: 2px 0 2px 0;
    width: 100%;
}

.popup-name b {
    font-size: 20px;
}

.popup-months {
    display: flex;
    width: 100%;
}

.popup-cell {
    background: #eee1c1;
    border: 1px solid black;
    color: black;
    font-size: 13px;
    width: 8.3333%;
    text-align: center;
}

.popup-storage {
    padding: 5px 0 5px 0;
}

.filled {
    background: #ab1c20;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Chart Page
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Tabs */


.chart-tabs {
    display: flex;
    margin-top: 50px;
    width: 958px;
}

.chart-group-tab {
    border: 1px solid black;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    padding: 5px 0 5px 0;
    text-align: center;
    transition: background 0.35s;
    width: 100%;
}

.fruit-tab:hover {
    background: rgb(123, 31, 162);
}
.vegetables-tab:hover {
    background: rgb(67, 160, 71);
}
.herbs-tab:hover {
    background: rgb(124, 179, 66);
}
.nuts-tab:hover {
    background: rgb(109, 76, 65);
}
.sea-tab:hover {
    background: rgb(30, 136, 229);
}
.air-tab:hover {
    background: rgb(253, 216, 53);
}
.land-tab:hover {
    background: rgb(229, 57, 53);
}


/* Table */


table {
    border-collapse: collapse;
    max-width: 100%;
    width: 958px;
}

caption {
    padding: 10px 0 10px 0;
}

.fixed-header {
    display: none;
    position: fixed;
    top: 0;
    width: 958px;
}

tbody {
    display: none;
}

.show-group {
    display: table-row-group;
}

.hide-sort {
    display: none;
}

/*.chart-row:hover {
    background: rgba(253,216,53, 0.4);
}*/

.edit-chart-row {
    height: 100px;
    display: none;
}


/* Table Cells */


td {
    border: 1px solid black;
    empty-cells: hide;
    text-align: center;
}

th {
    background: black;
    border: 1px solid black;
    color: #eee1c1;
    font-weight: normal;
    padding: 4px 0 4px 0;
    text-align: center;
}

.group-title-cell {
    height: 50px;
}

.group-title-cell div {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
}

.group-title {
    display: inline-block;
    font-size: 18pt;
}

#active-sort {
    color: #ab1c20;
}

.group-title-cell i {
    color: grey;
    cursor: pointer;
    opacity: 0;
    padding: 8px;
    transition: opacity 0.35s, visibility 0.35s;
    visibility: hidden;
}

.group-title-cell:hover .fa-calendar {
    opacity: 1;
    visibility: visible;
}

.group-title-cell:hover .fa-sort-alpha-asc {
    opacity: 1;
    visibility: visible;
}

.chart-cell-name {
    padding: 2px 0 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.month-cell {
    width: 65px;
}

.chart-cell-fruit {
    background: #7B1FA2;
}
.chart-cell-vegetables {
    background: #43A047;
}
.chart-cell-herbs {
    background: #7CB342;
}
.chart-cell-nuts {
    background: #6D4C41;
}
.chart-cell-sea {
    background: #1E88E5;
}
.chart-cell-air {
    background: #FDD835;
}
.chart-cell-land {
    background: #E53935;
}

#current-month {
    color: #ab1c20;
    font-weight: bold;
}


/* Empty Cells */


.chart-cell-fruit:empty, .chart-cell-vegetables:empty, .chart-cell-herbs:empty, .chart-cell-nuts:empty, .chart-cell-sea:empty, .chart-cell-air:empty, .chart-cell-land:empty {
    background-color: transparent;
}

#empty {
    color: #ab1c20;
    text-decoration: line-through;
}


/* Links */


.add-ingredient-link {
    color: #eee1c1;
    cursor: pointer;
    transition: color 0.35s;
}

.add-ingredient-link:hover {
    color: #ab1c20;
}

.chart-cell-link {
    color: grey;
    opacity: 0;
    padding: 0 2px 0 2px;
    transition: opacity 0.35s;
    cursor: pointer;
    text-decoration: none;
}

.chart-cell-name:hover .chart-cell-link {
    opacity: 1;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Menu Page
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.dropdown-menus {
    display: flex;
    justify-content: center;
    width: 958px;
    height: 38px;
    background: black;
    margin-top: 50px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.dropdown-container {
    width: 25%;
}

.dropdown-container i {
    color: #E53935;
    cursor: pointer;
    visibility: hidden;
}

.dropdown-cuisine, .dropdown-course, .dropdown-group, .dropdown-month {
    width: 90%;
    height: 38px;
    background: black;
    color: #eee1c1;
    border: 0;
    text-align-last: center;
    font-size: 14pt;
    font-family: times;
    text-decoration: none;
}

.hide-recipe {
    display: none;
}

.menu-table {
    margin-bottom: 40px;
}

.recipe-link {
    color: black;
}

.empty-recipe {
    color: red;
    font-style: italic;
}







/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Recipe View
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


header {
    display: flex;
    height: 30vh;
    width: 100%;
}

main {
    display: flex;
    height: 70vh;
    width: 100%;
}

p {
    margin: 0;
}

.recipe-pictures {
    background-position: center;
    background-size: cover;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #eee1c1;
}

.recipe-pic-arrows {
    align-items: center;
    display: flex;
    font-size: 18pt;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 3px 0 3px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.35s;
}

.recipe-pic-button {
    width: calc(100% - 46.32px);
    cursor: pointer;
}

.recipe-pictures:hover .recipe-pic-arrows {
    opacity: 1;
}

/* Recipe Info */

.recipe-info {
    width: 70%;
    background: black;
    color: #eee1c1;
}

.recipe-info-row {
    display: flex;
    margin: 10px 0 10px 0;
    width: 100%;
}

.recipe-info-title {
    font-size: 20pt;
    margin: 0 0 10px 0;
}

.recipe-info-item {
    text-align: center;
    width: 25%;
}

.recipe-info-label {
    color: #ab1c20;
}

/* Ingredients & Instructions */

.ingredients {
    width: 24%;
    font-size: 16pt;
    margin-top: 40px;
    margin-left: 6%;
    overflow: scroll;
    cursor: text;
}

.instructions {
    width: 70%;
    font-size: 16pt;
    margin: 40px 0 0 20px;
    overflow: scroll;
    cursor: text;
}

.instruction-note {
    margin-left: 13px;
    color: grey;
    font-size: 12pt;
}

.fa-leaf {
    color: #43A047;
}

.recipe-info-title i {
    font-size: 10pt;
}

.edit-recipe {
    padding: 10px;
    cursor: pointer;
}

.edit-recipe-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #eee1c1;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.edit-recipe-button:hover {
    color: #ab1c20;
}

.edit-recipe-button button {
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    border: 0;
    color: #eee1c1;
    width: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-recipe-button button:hover {
    color: #ab1c20;
}

.picture-popup-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-popup {
    height: 90%;
    width: 80%;
    background: black;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture-popup img {
    max-height: 100%;
    max-width: 100%;
}

.picture-popup-arrows {
    align-items: center;
    display: flex;
    font-size: 18pt;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Forms
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.group-menu, .month-menu {
    display: flex;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.month-container {
    display: flex;
    text-align: center;
    width: 8.333333%;
}

.group-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.course-container {
    display: flex;
    text-align: center;
    width: 25%;
}

input[type=text], input[type=number] {
    background: transparent;
    border: none;
}

input[type=text]:focus, input[type=number]:focus, button:focus, select:focus {
    outline: none;
}


/* Edit Recipe */

.edit-recipe-form {
    width: 100%;
}

/* Edit Recipe Picture */

.edit-recipe-pictures {
    background: black;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    color: #eee1c1;
    align-content: flex-start;
    padding: 5px;
}

input[name=sources], input[name=occasions] {
    padding-bottom: 3px;
    font-family: times;
    font-size: 12pt;
    border-bottom: 1px solid grey;
    color: #eee1c1;
}

input[name=pictures] {
    display: none;
}

.edit-picture-mini {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    height: 30%;
    width: 30%;
    margin: 5px;
    cursor: -webkit-grab;
}

.edit-picture-mini:active {
    cursor: -webkit-grabbing;
}

.edit-picture-mini .delete {
    border: 0;
    padding: 0;
}

.add-picture-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px dashed #eee1c1;
}

.add-picture-mini:hover {
    color: #ab1c20;
    border: 1px dashed #ab1c20;
}

/* Edit Recipe Info */

input[name=title] {
    color: #eee1c1;
    font-size: 20pt;
    text-align: center;
    border-bottom: none;
    font-family: times;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

input[name=total_yield], input[name=calories] {
    color: #eee1c1;
    text-align: center;
    font-family: times;
    font-size: 12pt;
}

input[name=days], input[name=hours], input[name=minutes], input[name=seconds] {
   color: #eee1c1;
   text-align: center;
   font-family: times;
   font-size: 12pt;
   width: 35px;
}

.recipe-info-select {
    background: transparent;
    color: #eee1c1;
    border: none;
    width: 100%;
    font-family: times;
    font-size: 12pt;
}

.recipe-month-menu {
    display: flex;
    height: 17px;
    background: #eee1c1;
}

.recipe-month-menu label {
    color: black;
    font-size: 13px;
    text-align: center;
}

.recipe-month-container {
    width: 8.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* Edit Recipe Ingredients & Instructions */

input[name=ingredients] {
    font-family: times;
    font-size: 16pt;
    width: calc(95% - 19px);
    padding: 0;
}

input[name=instructions-text] {
    width: 75%;
    font-family: times;
    font-size: 16pt;
    padding: 0;
}

input[name=instructions-note] {
    width: 75%;
    font-family: times;
    color: grey;
    font-size: 12pt;
    margin-left: 13px;
    padding: 0;
}

input[name=instructions-photo], input[name=instructions-gif], input[name=instructions-video] {
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
    font-family: times;
    font-size: 11pt;
}

input[name=Jan], input[name=Feb], input[name=Mar], input[name=Apr], input[name=May], input[name=Jun], input[name=Jul], input[name=Aug], input[name=Sep], input[name=Oct], input[name=Nov], input[name=Dec] {
    display: none;
}

.instruction-cell {
    font-size: 16pt;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
}

.instruction-buttons {
    cursor: pointer;
    color: #ab1c20;
    opacity: 0;
}

.instruction-cell:hover .instruction-buttons {
    opacity: 1;
    transition: opacity 0.3s;
}

.ingredients .fa-bars {
    opacity: 0;
    color: rgba(0,0,0,0.6);
}

.fa-bars {
    cursor: -webkit-grab;
}

.fa-bars:active {
    cursor: -webkit-grabbing;
}

.ingredients div:hover .fa-bars {
    opacity: 1;
    transition: opacity 0.3s;
}

.instruction-media-inputs label {
    font-size: 12pt;
}






.delete-recipe-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #eee1c1;
    cursor: pointer;
    width: 215.92px;
    height: 42px;
}

.delete-recipe-buttons button {
    background: black;
    border: 0;
    color: #eee1c1;
    width: 50%;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.delete-recipe-buttons label {
    width: 100%;
    text-align: center;
    padding-top: 2px;
}

.delete-recipe-buttons button:hover {
    color: #ab1c20;
}

.delete-recipe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






/* Edit Ingredient Row */


/* Ingredient Name Input */


.edit-ingredient-name-cell {
    text-align: left;
    vertical-align: top;
}

.name-fields {
    margin: 1px 4px 5px 4px;
}

input[name=name], input[name=alt] {
    font-family: times;
    font-size: 12pt;
    width: calc(100% - 14px);
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
}

.delete {
    color: #E53935;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid grey;
}

.add {
    color: #43A047;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid grey;
    padding-left: 3px;
}

.plus-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

.add-alts {
    color: #43A047;
    cursor: pointer;
}


/* Ingredient Input */


.edit-ingredient-cell {
    padding: 0;
}


/* Ingredient Month Input */


.ingredient-month-menu {
    display: flex;
    height: 25px;
    border-bottom: 1px solid black;
}

.ingredient-month-container {
    width: 8.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient-month-container-1, .ingredient-month-container-2, .ingredient-month-container-3, .ingredient-month-container-4, .ingredient-month-container-5 {
    border-right: 1px solid black;
}

.ingredient-month-container-7, .ingredient-month-container-8, .ingredient-month-container-9, .ingredient-month-container-10, .ingredient-month-container-11, .ingredient-month-container-12 {
    border-left: 1px solid black;
}

.month-label {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/*input[type=checkbox] {
    visibility: hidden;
}*/


/* Ingredient Group Input */


.group-label {
    height: 100%;
    width: 100%;
    cursor: pointer;
}


/* Ingredient Picture/Storage Input */


.edit-ingredient-triple {
    width: 100%;
    display: flex;
    border-top: 1px solid black;

}

.triple-container {
    width: 33.3333333%;
}

.triple-container-1 {
    border-right: 1px solid black;
}

textarea {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    outline: none;
    resize: none;
    border: 1px solid transparent;
}

textarea:focus {
    border: 1px solid black;
}

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


/* Ingredient Buttons */


.triple-container-3 {
    border-left: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.edit-ingredient-button {
    width: 50%;
    height: 50%;
    cursor: pointer;
    background: none;
    border: none;
    color: grey;
}

.edit-ingredient-button:hover {
    color: black;
}

.submit-ingredient-button:hover {
    color: #43A047;
}

.delete-ingredient-button:hover {
    color: #E53935;
}

.delete-warning {
    font-size: 10pt;
    text-align: center;
    width: 100%;
    height: 50%;
    color: #E53935;
    vertical-align: middle;
}

.delete-ingredient-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hide-buttons {
    display: none;
}

/*////////////////////////////////////////////////////////////////////////*/

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}



