* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    /*background-color: #2E56A4;*/
    /*background-image: url(paper3.jpg);*/
    /*background-size: cover;*/
}

h1 {
    width: 100%;
    text-align: center;
}

/* Nav */

nav {
    width: 100%;
    display: flex;
}

.nav-link {
    width: 33%;
    text-align: center;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px solid black;
    /*empty-cells: hide;*/
}

th {
    text-align: center;
    border: 1px solid black;
}

/* Forms */

ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

li {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
}

.ingredient-form {
    width: 50%;
}

.group-menu {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
}

.month-menu {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
}

.month-container {
    width: 8.333333%;
    text-align: center;
}

.group-container {
    width: 16.666666%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

input[type=checkbox] {
    width: 100%;
    margin: 0;
}

input[type=radio] {
    width: 100%;
}

fieldset {
    margin: 10px 0px 10px 0px;
}

textarea {
    width: 100%;
}

#add-pics, #add-sources, #add-occasions, #add-ingredients, #add-instructions {
    height: 19px;
}

.course-container {
    width: 25%;
}

/* Homepage */


.ingredients_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ingredient_pic {
    height: 8em;
    width: 8em;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 10px;
}
