* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(background.jpg) no-repeat top center fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Nav
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    width: 100%;
    margin-right: 50px;
    position: fixed;
    height: 0;
}

.nav-link {
    align-items: flex-end;
    background: black;
    -moz-border-radius: 0 0 10% 10%;
    -webkit-border-radius: 0 0 10% 10%;
    border-radius: 0 0 10% 10%;
    color: #eee1c1;
    display: flex;
    flex-wrap: wrap;
    height: 108px;
    justify-content: center;
    margin: 0 5px 0 5px;
    padding-bottom: 12px;
    text-align: center;
    transform: translate3d(0,-70px,0);
    transition: transform 0.35s;
    width: 3%;
}

.nav-link i {
    width: 100%;
    font-size: auto;
}

#current-page {
    color: #ab1c20;
}

.last-link {
    margin-right: 40px;
}

.nav-link:hover {
    transform: translate3d(0,0,0);
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Homepage
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.ingredients_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ingredient_pic {
    background-position: center;
    background-size: cover;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    height: 8em;
    margin: 10px;
    overflow: hidden;
    width: 8em;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Chart Page
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Tabs */


.chart-tabs {
    display: flex;
    width: 958px;
    margin-top: 50px;
}

.chart-group-link {
    border: 1px solid black;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color: black;
    padding: 5px 0 5px 0;
    text-align: center;
    width: 16.66666%;
}


/* Table */


table {
    border-collapse: collapse;
    max-width: 100%;
}

caption {
    padding: 10px 0 10px 0;
}

.fixed-header {
    display: none;
    position: fixed;
    top: 0;
    width: 958px;
}


/* Table Cells */


td {
    border: 1px solid black;
    empty-cells: hide;
    text-align: center;
}

th {
    background: black;
    border: 1px solid black;
    color: #eee1c1;
    font-weight: normal;
    padding: 4px 0 4px 0;
    text-align: center;
}

.chart-cell-name {
    padding: 2px 0 2px 5px;
    text-align: left;
}

.month-cell {
    width: 65px;
}

.chart-cell-fruit {
    background: #ab1c20;
}
.chart-cell-vegetables {
    background: green;
}
.chart-cell-nuts {
    background: brown;
}
.chart-cell-sea {
    background: blue;
}
.chart-cell-air {
    background: orange;
}
.chart-cell-land {
    background: pink;
}

.delete-ingredient-cell {
    display: none;
    padding-left: 10px;
    text-align: left;
}

#current-month {
    color: #ab1c20;
    font-weight: bold;
}

.group-title-cell {
    height: 50px;
}


/* Empty Cells */


.chart-cell-fruit:empty, .chart-cell-vegetables:empty, .chart-cell-nuts:empty, .chart-cell-sea:empty, .chart-cell-air:empty, .chart-cell-land:empty {
    background-color: transparent;
}

#empty {
    color: #ab1c20;
    text-decoration: line-through;
}


/* Links */


th a {
    color: #eee1c1;
}

.chart-cell-link {
    color: blue;
    float: right;
    opacity: 0;
    padding: 0 2px 0 2px;
}

.chart-cell-name:hover .chart-cell-link {
    opacity: 1;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Menu Page
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Recipe View
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


header {
    display: flex;
    height: 30vh;
    width: 100%;
}

main {
    display: flex;
    height: 70vh;
    width: 100%;
}

p {
    margin: 0;
}

.recipe-pictures {
    background-position: center;
    background-size: cover;
    width: 30%;
}

.recipe-info {
    width: 70%;
}

.recipe-info-row {
    display: flex;
    margin: 10px 0 10px 0;
    width: 100%;
}

.recipe-info-item {
    text-align: center;
    width: 25%;
}

.ingredients {
    width: 30%;
}

.instructions {
    width: 70%;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Forms
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.ingredient-form {
    width: 50%;
}

.group-menu, .month-menu {
    display: flex;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.month-container {
    display: flex;
    text-align: center;
    width: 8.333333%;
}

.group-container {
    display: flex;
    text-align: center;
    width: 16.666666%;
}

.course-container {
    display: flex;
    text-align: center;
    width: 25%;
}

.delete {
    color: red;
    cursor: pointer;
}

#name-fields {
    margin: 0 0 10px 0;
}

#add-alts {
    color: green;
    cursor: pointer;
}

.form-buttons {
    margin-top: 10px;
}

label {
    width: 100%;
}

input[name=picture] {
    width: 100%;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid grey;
}

input[type=text]:focus {
    outline: none;
}

textarea {
    background: transparent;
    width: 100%;
}

#add-pics, #add-sources, #add-occasions, #add-ingredients, #add-instructions {
    height: 19px;
}
