{% extends "layout.html" %}

{% block title %} {{ super() }} | Chart{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='dynamicfields.js')}}"></script>
{% endblock %}

{% block content %}
    <div class="chart-tabs">
        <a href="" class="chart-group-link">Fruit</a>
        <a href="" class="chart-group-link">Vegetables</a>
        <a href="" class="chart-group-link">Nuts</a>
        <a href="" class="chart-group-link">Sea</a>
        <a href="" class="chart-group-link">Air</a>
        <a href="" class="chart-group-link">Land</a>
    </div>
    <table>
        <caption align="bottom">*results will vary outside California</caption>
        <thead>
            <tr>
                <th><a href="{{url_for('newIngredient')}}">Add Ingredient</a></th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients: %}
                <tr class="chart-row">
                    <td><div class="chart-cell-name">
                        {{ingredient.name}}
                        <i class="fa fa-trash-o chart-cell-link" aria-hidden="true" onclick="showDeleteIngredient({{loop.index0}})"></i>
                        <a href="{{url_for('editIngredient', ingredient_id=ingredient.id)}}" class="chart-cell-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </div></td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 1 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 2 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 3 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 4 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 5 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 6 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 7 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 8 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 9 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 10 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 11 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td class="chart-cell-{{ingredient.group}} month-cell">{% if 12 in ingredient.months %}&nbsp;{% endif %}</td>
                    <td colspan="12" class="delete-ingredient-cell">
                        <form action="{{url_for('deleteIngredient', ingredient_id=ingredient.id)}}" method="post">
                            <label>Are you sure you want to delete {{ingredient.name}}?</label>
                            <input type="submit" value="Delete Ingredient">
                            <button type="button" onclick="showChartRow({{loop.index0}})">Cancel</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
