{% extends "layout.html" %}

{% block title %}{{ super() }} | Edit {{ingredient.name}}{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='forms.js')}}"></script>
{% endblock %}

{% block content %}
    <h1>Edit {{ingredient.name}}</h1>
    <form action="{{url_for('editIngredient', ingredient_id=ingredient.id)}}" method="post" class="ingredient-form">
            <i class="fa fa-plus-circle" id="add-alts" aria-hidden="true"></i>
            <label>Name</label>
            <div id="name-fields">
                <input type="text" name="name" maxlength="500" value="{{ingredient.name}}">
                {% for alt in ingredient.alts %}
                    <i>, </i><input name="alt" type="text" maxlength="500" value="{{alt}}"><i class="fa fa-minus-circle delete" aria-hidden="true"></i>
                    {% endfor %}
            </div>
            <label>Picture <input type="text" name="picture" maxlength="9999" value="{{ingredient.picture}}"></label><br>
            <div class="group-menu">
                {% for group in ingredient_groups %}
                    <div class="group-container">
                        <label>{{group.capitalize()}}<br>
                            {% if ingredient.group == group %}
                                <input type="radio" name="group" value="{{group}}" checked required>
                                {% else %}
                                <input type="radio" name="group" value="{{group}}" required>
                                {% endif %}
                        </label>
                    </div>
                    {% endfor %}
            </div>
            <div class="month-menu">
                {% for i in range(1,13) %}
                    <div class="month-container">
                        <label>{{month_dict[i][:3]}}<br>
                            {% if i in ingredient.months %}
                                <input type="checkbox" name="{{month_dict[i][:3]}}" checked>
                                {% else %}
                                <input type="checkbox" name="{{month_dict[i][:3]}}">
                                {% endif %}
                        </label>
                    </div>
                    {% endfor %}
            </div>
            <label>Storage Instructions <textarea name="storage" maxlength="9999">{{ingredient.storage}}</textarea></label><br>
            <div class="form-buttons">
                <input type="submit" value="Edit Ingredient">
                <button type="button" onclick="history.go(0)">Reset</button>
                <button type="button" onclick="window.location.assign('{{url_for('chartpage')}}');">Cancel</button>
            </div>
    </form>
{% endblock %}
