{% extends "layout.html" %}

{% block title %}{{ super() }} | Edit Ingredient{% endblock %}

{% block content %}
    <h1>Edit Ingredient</h1>
    <form action="{{url_for('editIngredient', ingredient_id=ingredient.id)}}" method="post">
        <ul>
            <label>Name</label>
            <li>
                <input type="text" name="name" placeholder="{{ingredient.name}}">
            </li>
            <label>Picture</label>
            <li>
                <input type="url" name="picture" placeholder="{{ingredient.picture}}">
            </li>
            <label>Group</label>
            <li>
                <table>
                    <thead>
                        <tr>
                            <th>Fruit</th>
                            <th>Vegetables</th>
                            <th>Nuts</th>
                            <th>Fish/Seafood</th>
                            <th>Birds</th>
                            <th>Red Meat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% if ingredient.group == 'fruit': %}
                                    <input type="radio" name="group" value="fruit" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="fruit">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'vegetables': %}
                                    <input type="radio" name="group" value="vegetables" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="vegetables">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'nuts': %}
                                    <input type="radio" name="group" value="nuts" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="nuts">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'fish/seafood': %}
                                    <input type="radio" name="group" value="fish/seafood" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="fish/seafood">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'birds': %}
                                    <input type="radio" name="group" value="birds" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="birds">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'red meat': %}
                                    <input type="radio" name="group" value="red meat" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="red meat">
                                    {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <label>Months</label>
            <li class="month-menu">
                <div class="month-container"><label>Jan
                    {% if 1 in ingredient.months %}
                        <input type="checkbox" name="Jan" checked>
                        {% else %}
                        <input type="checkbox" name="Jan">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Feb
                    {% if 2 in ingredient.months %}
                        <input type="checkbox" name="Feb" checked>
                        {% else %}
                        <input type="checkbox" name="Feb">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Mar
                    {% if 3 in ingredient.months %}
                        <input type="checkbox" name="Mar" checked>
                        {% else %}
                        <input type="checkbox" name="Mar">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Apr
                    {% if 4 in ingredient.months %}
                        <input type="checkbox" name="Apr" checked>
                        {% else %}
                        <input type="checkbox" name="Apr">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>May
                    {% if 5 in ingredient.months %}
                        <input type="checkbox" name="May" checked>
                        {% else %}
                        <input type="checkbox" name="May">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Jun
                    {% if 6 in ingredient.months %}
                        <input type="checkbox" name="Jun" checked>
                        {% else %}
                        <input type="checkbox" name="Jun">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Jul
                    {% if 7 in ingredient.months %}
                        <input type="checkbox" name="Jul" checked>
                        {% else %}
                        <input type="checkbox" name="Jul">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Aug
                    {% if 8 in ingredient.months %}
                        <input type="checkbox" name="Aug" checked>
                        {% else %}
                        <input type="checkbox" name="Aug">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Sep
                    {% if 9 in ingredient.months %}
                        <input type="checkbox" name="Sep" checked>
                        {% else %}
                        <input type="checkbox" name="Sep">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Oct
                    {% if 10 in ingredient.months %}
                        <input type="checkbox" name="Oct" checked>
                        {% else %}
                        <input type="checkbox" name="Oct">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Nov
                    {% if 11 in ingredient.months %}
                        <input type="checkbox" name="Nov" checked>
                        {% else %}
                        <input type="checkbox" name="Nov">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Dec
                    {% if 12 in ingredient.months %}
                        <input type="checkbox" name="Dec" checked>
                        {% else %}
                        <input type="checkbox" name="Dec">
                        {% endif %}
                </label></div>
            </li>
            <label>Storage Instructions</label>
            <li>
                <input type="text" name="storage" maxlength="9999" placeholder="{{ingredient.storage}}">
            </li>
            <li>
                <input type="submit" value="Edit Ingredient">
                <a href="{{url_for('homepage')}}">Cancel</a>
            </li>
        </ul>
    </form>
{% endblock %}
