{% extends 'layout.html' %}

{% block title %}{{ super() }} | Edit {{recipe.name}}{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='forms.js')}}"></script>
{% endblock %}

{% block content %}
    <h1>Edit {{recipe.name}}</h1>
    <form action="{{url_for('editRecipe', recipe_id=recipe.id)}}" method="post">
       <ul>
            <li><label>Name: <input type="text" name="name" maxlength="500" placeholder="{{recipe.name}}"></label></li>
            <li>
                <button id="add-pics" type="button">+</button>
                <label>Pictures:</label>
                <div id="pic-fields">
                {% for picture in recipe.pictures %}
                    <div><input type="text" name="pictures" maxlength="9999" value="{{picture}}"><i class="fa fa-minus-circle delete" aria-hidden="true"></i></div>
                    {% endfor %}
                </div>
            </li>
            <li><label>Gif: <input type="text" name="gif" maxlength="9999" placeholder="{{recipe.gif}}"></label></li>
            <li>
                <button id="add-sources" type="button">+</button>
                <label>Sources:</label>
                <div id="source-fields">
                    {% for source in recipe.sources %}
                        <div><input type="text" name="sources" maxlength="9999" value="{{source}}"><i class="fa fa-minus-circle delete" aria-hidden="true"></i></div>
                        {% endfor %}
                </div>
            </li>
            <li><label>Days: <input type="number" name="days" value="{{recipe.time.days}}"></label>
            <label>Hours: <input type="number" name="hours" value="{{recipe.time.seconds // 3600}}"></label>
            <label>Minutes: <input type="number" name="minutes" value="{{(recipe.time.seconds % 3600) // 60}}"></label>
            <label>Seconds: <input type="number" name="seconds" value="{{(recipe.time.seconds % 3600) % 60}}"></label></li>
            <li><label>Yield: <input type="text" name="total_yield" maxlength="500" placeholder="{{recipe.total_yield}}"></label></li>
            <li><label>Calories: <input type="number" name="calories" placeholder="{{recipe.calories}}"></label></li>
            <li><label>Vegetarian
                {% if recipe.vegetarian %}
                    <input type="checkbox" name="vegetarian" checked>
                    {% else %}
                    <input type="checkbox" name="vegetarian">
                    {% endif %}
            </label></li>
            <li><div class="month-menu">
                {% for i in range(1,13) %}
                    <div class="month-container"><label>{{month_dict[i][:3]}}<br>
                        {% if i in recipe.months %}
                            <input type="checkbox" name="{{month_dict[i][:3]}}" checked>
                            {% else %}
                            <input type="checkbox" name="{{month_dict[i][:3]}}">
                            {% endif %}
                    </label></div>
                    {% endfor %}
            </div></li>
            <li>
                <div class="course-container"><label>Breakfast<br>
                    {% if 'Breakfast' in recipe.courses %}
                        <input type="checkbox" name="breakfast" checked>
                        {% else %}
                        <input type="checkbox" name="breakfast">
                        {% endif %}
                </label></div>
                <div class="course-container"><label>Lunch & Dinner<br>
                    {% if 'Lunch & Dinner' in recipe.courses %}
                        <input type="checkbox" name="dinner" checked>
                        {% else %}
                        <input type="checkbox" name="dinner">
                        {% endif %}
                </label></div>
                <div class="course-container"><label>Dessert<br>
                    {% if 'Dessert' in recipe.courses %}
                        <input type="checkbox" name="dessert" checked>
                        {% else %}
                        <input type="checkbox" name="dessert">
                        {% endif %}
                </label></div>
                <div class="course-container"><label>Basics<br>
                    {% if 'Basics' in recipe.courses %}
                        <input type="checkbox" name="basics" checked>
                        {% else %}
                        <input type="checkbox" name="basics">
                        {% endif %}
                </label></div>
            </li>
            <li>
                <label>Cuisines:
                <select name="cuisines" multiple>
                    {% for cuisine in cuisines %}
                        {% if cuisine in recipe.cuisines %}
                            <option selected>{{cuisine}}</option>
                            {% else %}
                            <option>{{cuisine}}</option>
                            {% endif %}
                        {% endfor %}
                </select></label>
            </li>
            <li>
                <label>Groups:
                <select name="groups" multiple>
                    {% for course in ['Breakfast', 'Lunch & Dinner', 'Dessert'] %}
                        <optgroup label="{{course}}">
                            {% for group in groups[course] %}
                                {% if group in recipe.groups %}
                                    <option selected>{{group}}</option>
                                    {% else %}
                                    <option>{{group}}</option>
                                    {% endif %}
                                {% endfor %}
                        </optgroup>
                        {% endfor %}
                </select></label>
            </li>
            <li>
                <button id="add-occasions" type="button">+</button>
                <label>Occasions:</label>
                <div id="occasion-fields">
                    {% for occasion in recipe.occasions %}
                        <div><input type="text" name="occasions" maxlength="500" value="{{occasion}}"><i class="fa fa-minus-circle delete" aria-hidden="true"></i></div>
                        {% endfor %}
                </div>
            </li>
            <li>
                <button id="add-ingredients" type="button">+</button>
                <label>Ingredients:</label>
                <div id="ingredient-fields">
                    {% for ingredient in recipe.ingredients %}
                        <div><input type="text" name="ingredients" maxlength="9999" value="{{ingredient}}"><i class="fa fa-minus-circle delete" aria-hidden="true"></i></div>
                        {% endfor %}
                </div>
            </li>
            <button id="add-instructions" type="button">+</button>
            <label>Instructions:</label>
            <li>
                <div id="instruction-fields">
                    {% for instruction in recipe.instructions %}
                        <div>
                          <label>Text: <input type="text" name="instructions-text" maxlength="9999" value="{{instruction['text']}}"></label>
                          <label>Photo: <input type="text" name="instructions-photo" maxlength="9999" value="{{instruction['photo']}}"></label>
                          <label>Video: <input type="text" name="instructions-video" maxlength="9999" value="{{instruction['video']}}"></label>
                          <label>Gif: <input type="text" name="instructions-gif" maxlength="9999" value="{{instruction['gif']}}"></label>
                          <label>Note: <input type="text" name="instructions-note" maxlength="9999" value="{{instruction['note']}}"></label>
                        </div>
                        {% endfor %}
                </div>
            </li>
            <li><input type="submit" value="Edit Recipe">
            <button type="button" onclick="history.go(0)">Reset</button>
            <button type="button" onclick="window.location.assign('{{url_for('menupage')}}');">Cancel</button></li>
        </ul>
    </form>
{% endblock %}
