{% extends "layout.html" %}

{% block title %}{{ super() }} | Edit Ingredient{% endblock %}

{% block content %}
    <h1>Edit Ingredient</h1>
    <form action="{{url_for('editIngredient', ingredient_id=ingredient.id)}}" method="post">
        <ul>
            <label>Name</label>
            <li>
                <input type="text" name="name" placeholder="{{ingredient.name}}">
            </li>
            <label>Picture</label>
            <li>
                <input type="url" name="picture" placeholder="{{ingredient.picture}}">
            </li>
            <label>Group</label>
            <li>
                <table>
                    <thead>
                        <tr>
                            <th>Fruit</th>
                            <th>Vegetables</th>
                            <th>Nuts</th>
                            <th>Fish/Seafood</th>
                            <th>Birds</th>
                            <th>Red Meat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% if ingredient.group == 'fruit': %}
                                    <input type="radio" name="group" value="fruit" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="fruit">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'vegetables': %}
                                    <input type="radio" name="group" value="vegetables" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="vegetables">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'nuts': %}
                                    <input type="radio" name="group" value="nuts" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="nuts">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'fish/seafood': %}
                                    <input type="radio" name="group" value="fish/seafood" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="fish/seafood">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'birds': %}
                                    <input type="radio" name="group" value="birds" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="birds">
                                    {% endif %}
                            </td>
                            <td>
                                {% if ingredient.group == 'red meat': %}
                                    <input type="radio" name="group" value="red meat" checked>
                                    {% else %}
                                    <input type="radio" name="group" value="red meat">
                                    {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <label>Months</label>
            <li class="month-menu">
                <div class="month-container"><label>Jan
                    {% if ingredient.january %}
                        <input type="checkbox" name="jan" checked>
                        {% else %}
                        <input type="checkbox" name="jan">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Feb
                    {% if ingredient.february %}
                        <input type="checkbox" name="feb" checked>
                        {% else %}
                        <input type="checkbox" name="feb">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Mar
                    {% if ingredient.march %}
                        <input type="checkbox" name="mar" checked>
                        {% else %}
                        <input type="checkbox" name="mar">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Apr
                    {% if ingredient.april %}
                        <input type="checkbox" name="apr" checked>
                        {% else %}
                        <input type="checkbox" name="apr">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>May
                    {% if ingredient.may %}
                        <input type="checkbox" name="may" checked>
                        {% else %}
                        <input type="checkbox" name="may">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Jun
                    {% if ingredient.june %}
                        <input type="checkbox" name="jun" checked>
                        {% else %}
                        <input type="checkbox" name="jun">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Jul
                    {% if ingredient.july %}
                        <input type="checkbox" name="jul" checked>
                        {% else %}
                        <input type="checkbox" name="jul">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Aug
                    {% if ingredient.august %}
                        <input type="checkbox" name="aug" checked>
                        {% else %}
                        <input type="checkbox" name="aug">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Sep
                    {% if ingredient.september %}
                        <input type="checkbox" name="sep" checked>
                        {% else %}
                        <input type="checkbox" name="sep">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Oct
                    {% if ingredient.october %}
                        <input type="checkbox" name="oct" checked>
                        {% else %}
                        <input type="checkbox" name="oct">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Nov
                    {% if ingredient.november %}
                        <input type="checkbox" name="nov" checked>
                        {% else %}
                        <input type="checkbox" name="nov">
                        {% endif %}
                </label></div>
                <div class="month-container"><label>Dec
                    {% if ingredient.december %}
                        <input type="checkbox" name="dec" checked>
                        {% else %}
                        <input type="checkbox" name="dec">
                        {% endif %}
                </label></div>
            </li>
            <li>
                <input type="submit" value="Edit Ingredient">
                <a href="{{url_for('homepage')}}">Cancel</a>
            </li>
        </ul>
    </form>
{% endblock %}
