{% extends "layout.html" %}

{% block title %} {{ super() }} | {{month}}{% endblock %}

{% block content %}
    <h1 class="homepage-title">{{month}}</h1>
    <div class="ingredients_container">
        {% for category in ingredients %}
            <h2>{{category[0].group.capitalize()}}</h2>
            {% for ingredient in category %}
                <div class="ingredient_pic" style="background-image: url({{ingredient.picture}});"></div>
                {% endfor %}
            {% endfor %}
    </div>
{% endblock %}
