{% extends "layout.html" %}

{% block title %}{{ super() }} | New Ingredient{% endblock %}

{% block content %}
    <h1>New Ingredient</h1>
    <form action="{{url_for('addIngredient')}}" method="post">
        <ul>
            <label>Name</label>
            <li>
                <input type="text" name="name">
            </li>
            <label>Picture</label>
            <li>
                <input type="url" name="picture">
            </li>
            <label>Group</label>
            <li>
                <input type="radio" name="group" value="fruit"> Fruit
                <input type="radio" name="group" value="vegetables"> Vegetables
                <input type="radio" name="group" value="nuts"> Nuts
                <input type="radio" name="group" value="fish/seafood"> Fish/Seafood
                <input type="radio" name="group" value="birds"> Birds
                <input type="radio" name="group" value="red meat"> Red Meat
            </li>
            <label>Months</label>
            <li>
                <input type="checkbox" name="Jan"> Jan
                <input type="checkbox" name="Feb"> Feb
                <input type="checkbox" name="Mar"> Mar
                <input type="checkbox" name="Apr"> Apr
                <input type="checkbox" name="May"> May
                <input type="checkbox" name="Jun"> Jun
                <input type="checkbox" name="Jul"> Jul
                <input type="checkbox" name="Aug"> Aug
                <input type="checkbox" name="Sep"> Sep
                <input type="checkbox" name="Oct"> Oct
                <input type="checkbox" name="Nov"> Nov
                <input type="checkbox" name="Dec"> Dec
            </li>
            <label>Storage Instructions</label>
            <li>
                <input type="text" name="storage" maxlength="9999">
            </li>
            <li>
                <input type="submit" value="Create New Ingredient">
                <a href="{{url_for('homepage')}}">Cancel</a>
            </li>
        </ul>
    </form>
{% endblock %}
