{% extends "layout.html" %}

{% block title %}{{ super() }} | New Ingredient{% endblock %}

{% block content %}
    <h1>New Ingredient</h1>
    <form action="{{url_for('addIngredient')}}" method="post">
        <ul>
            <label>Name</label>
            <li>
                <input type="text" name="name">
            </li>
            <label>Picture</label>
            <li>
                <input type="url" name="picture">
            </li>
            <label>Group</label>
            <li>
                <input type="radio" name="group" value="fruit"> Fruit
                <input type="radio" name="group" value="vegetables"> Vegetables
                <input type="radio" name="group" value="nuts"> Nuts
                <input type="radio" name="group" value="fish/seafood"> Fish/Seafood
                <input type="radio" name="group" value="birds"> Birds
                <input type="radio" name="group" value="red meat"> Red Meat
            </li>
            <label>Months</label>
            <li>
                <input type="checkbox" name="jan"> Jan
                <input type="checkbox" name="feb"> Feb
                <input type="checkbox" name="mar"> Mar
                <input type="checkbox" name="apr"> Apr
                <input type="checkbox" name="may"> May
                <input type="checkbox" name="jun"> Jun
                <input type="checkbox" name="jul"> Jul
                <input type="checkbox" name="aug"> Aug
                <input type="checkbox" name="sep"> Sep
                <input type="checkbox" name="oct"> Oct
                <input type="checkbox" name="nov"> Nov
                <input type="checkbox" name="dec"> Dec
            </li>
            <li>
                <input type="submit" value="Create New Ingredient">
                <a href="{{url_for('homepage')}}">Cancel</a>
            </li>
        </ul>
    </form>
{% endblock %}
