{% extends 'layout.html' %}

{% block title %}{{ super() }} | New Recipe{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='forms.js')}}"></script>
{% endblock %}

{% block content %}
    <form action="{{url_for('newRecipe')}}" method="post">
       <ul>
            <li>
                <label>Name: <input type="text" name="title" maxlength="500" required autofocus></label>
            </li>
            <li>
                <i class="fa fa-plus-circle" id="add-pics" aria-hidden="true"></i>
                <label>Pictures: </label>
                <div id="pic-fields">
                    <input type="text" name="pictures" maxlength="9999">
                </div>
            </li>
            <li>
                <label>Gif: <input type="text" name="gif" maxlength="9999"></label>
            </li>
            <li>
                <button id="add-sources" type="button">+</button>
                <label>Sources: </label>
                <div id="source-fields"><input type="text" name="sources" maxlength="9999"></div>
            </li>
            <li>
                <label>Days: <input type="number" name="days"></label>
                <label>Hours: <input type="number" name="hours"></label>
                <label>Minutes: <input type="number" name="minutes"></label>
                <label>Seconds: <input type="number" name="seconds"></label>
            </li>
            <li>
                <label>Yield: <input type="text" name="total_yield" maxlength="500"></label>
                <label>Calories: <input type="number" name="calories"></label>
                <label>Vegetarian<br><input type="checkbox" name="vegetarian"></label>
            </li>
            <li><div class="month-menu">
                {% for i in range(1,13) %}
                    <div class="month-container"><label>{{month_dict[i][:3]}}<br><input type="checkbox" name="{{month_dict[i][:3]}}"></label></div>
                    {% endfor %}
            </div></li>
            <li>
                <div class="course-container"><label>Breakfast<br><input type="checkbox" name="breakfast"></label></div>
                <div class="course-container"><label>Lunch & Dinner<br><input type="checkbox" name="dinner"></label></div>
                <div class="course-container"><label>Dessert<br><input type="checkbox" name="dessert"></label></div>
                <div class="course-container"><label>Basics<br><input type="checkbox" name="basics"></label></div>
            </li>
            <li>
                <label>Cuisines:
                <select name="cuisines" multiple>
                    {% for region in regions %}
                        <optgroup label="{{region}}">
                            {% for cuisine in cuisines[region] %}
                                <option>{{cuisine}}</option>
                                {% endfor %}
                        </optgroup>
                        {% endfor %}
                </select></label>
                <label>Groups:
                <select name="groups" multiple>
                    {% for course in ['Breakfast', 'Lunch & Dinner', 'Dessert'] %}
                        <optgroup label="{{course}}">
                            {% for group in groups[course] %}
                                <option>{{group}}</option>
                                {% endfor %}
                        </optgroup>
                        {% endfor %}
                </select></label>
                <button id="add-occasions" type="button">+</button>
                <label>Occasions: </label>
                <div id="occasion-fields"><input type="text" name="occasions" maxlength="500"></div>
            </li>
            <li>
                <button id="add-ingredients" type="button">+</button>
                <label>Ingredients: </label>
                <div id="ingredient-fields"><input type="text" name="ingredients" maxlength="9999"></div>
            </li>
            <button id="add-instructions" type="button">+</button>
            <label>Instructions: </label>
            <li>
                <div id="instruction-fields">
                    <div>
                      <label>Text: <input type="text" name="instructions-text" maxlength="9999"></label>
                      <label>Photo: <input type="text" name="instructions-photo" maxlength="9999"></label>
                      <label>Video: <input type="text" name="instructions-video" maxlength="9999"></label>
                      <label>Gif: <input type="text" name="instructions-gif" maxlength="9999"></label>
                      <label>Note: <input type="text" name="instructions-note" maxlength="9999"></label>
                    </div>
                </div>
            </li>
            <li>
                <input type="submit" value="Create Recipe">
                <input type="reset">
                <button type="button" onclick="window.location.assign('{{url_for('menupage')}}');">Cancel</button>
            </li>
        </ul>
    </form>
{% endblock %}
