{% extends 'layout.html' %}

{% block title %}{{ super() }} | {{recipe.name}}{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='recipe.js')}}"></script>
{% endblock %}

{% block content %}
    <header>
        <div class="recipe-pictures" style="background-image: {% for picture in recipe.pictures %}url({{picture}}){% if loop.index < recipe.pictures|length %},{% endif %}{% endfor %};">
            {% if recipe.pictures|length > 1 %}
                <div class="recipe-pic-arrows"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="recipe-pic-arrows"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                {% endif %}
        </div>
        <div class="recipe-info">
            <i class="fa fa-pencil-square-o fa-lg edit-recipe" aria-hidden="true" onclick="window.location.assign('{{url_for('editRecipe', recipe_id=recipe.id)}}');"></i>
            <h2 class="recipe-info-title">
                {{recipe.name}}
                {% if recipe.vegetarian %}
                    <sup><i class="fa fa-leaf" aria-hidden="true"></i></sup>
                    {% endif %}
            </h2>
            <div class="popup-months">
                {% for i in range(1,13) %}
                    <div class="popup-cell {% if i in recipe.months %}filled{% endif %}">{{month_dict[i][:3]}}</div>
                    {% endfor %}
            </div>
            <div class="recipe-info-row">
                <div class="recipe-info-item">
                    <p class="recipe-info-label">time:</p>
                    <p>{{recipe.time}}</p>
                </div>
                <div class="recipe-info-item">
                    <p class="recipe-info-label">yield:</p>
                    <p>{{recipe.total_yield}}</p>
                </div>
                <div class="recipe-info-item">
                    <p class="recipe-info-label">calories:</p>
                    <p>{{recipe.calories}}</p>
                </div>
                <!-- <div class="recipe-info-item">
                    <p class="recipe-info-label">sources:</p>
                    {% for source in recipe.sources %}
                        <p>{{source}}</p>
                        {% endfor %}
                </div> -->
            </div>
            <div class="recipe-info-row">
                <div class="recipe-info-item">
                    <p class="recipe-info-label">cuisine:</p>
                    {% for cuisine in recipe.cuisines %}
                        <p>{{cuisine}}</p>
                        {% endfor %}
                </div>
                <div class="recipe-info-item">
                    <p class="recipe-info-label">course:</p>
                    {% for course in recipe.courses %}
                        <p>{{course}}</p>
                        {% endfor %}
                </div>
                <div class="recipe-info-item">
                    <p class="recipe-info-label">group:</p>
                    {% for group in recipe.groups %}
                        <p>{{group}}</p>
                        {% endfor %}
                </div>
                <div class="recipe-info-item">
                    <p class="recipe-info-label">occassions:</p>
                    {% for occassion in recipe.occassions %}
                        <p>{{occassion}}</p>
                        {% endfor %}
                </div>
            </div>
            {% for source in recipe.sources %}
                <a href="{{source}}">{{source}}</a><br>
                {% endfor %}
        </div>
    </header>
    <main>
        <section class="ingredients">
            {% for ingredient in recipe.ingredients %}
                <p>{{ingredient}}</p>
                {% if not ingredient %}
                    <br>
                    {% endif %}
                {% endfor %}
        </section>
        <section class="instructions">
            {% for instruction in recipe.instructions %}
                <p>{% if instruction['text'] %}-{% endif %} {{instruction['text']}}</p>
                <p class="instruction-note">{{instruction['note']}}</p>
                <p>{{instruction['video']}}</p>
                <p>{{instruction['gif']}}</p>
                <img src="{{instruction['photo']}}">
                {% if not instruction.text %}
                    <br>
                    {% endif %}
                {% endfor %}
        </section>
    </main>
{% endblock %}
