{% extends "layout.html" %}

{% block title %} {{ super() }} | Wine{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='wine.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='winestyles.css')}}">
{% endblock %}

{% block content %}
    <div class="dropdown-menus">
        <div class="dropdown-container">
            <select class="dropdown-region">
                <option>Region</option>
                {% for region in regions %}
                    <option class="region-selector">{{region}}</option>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="dropdown-container">
            <select class="dropdown-variety">
                <option>Variety</option>
                {% for vrty in varieties %}
                    <option class="variety-selector">{{vrty}}</option>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="dropdown-container">
            <select class="dropdown-winery">
                <option>Winery</option>
                {% for wnry in wineries %}
                    <option class="winery-selector">{{wnry}}</option>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="dropdown-container">
            <select class="dropdown-vintage">
                <option>Vintage</option>
                <option></option>
                {% for y in years %}
                    <option class="vintage-selector">{{y}}</option>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
    </div>

    <div class="wine-shelf">
        {% for w in wine %}
            <div class="wine-container region-Region variety-Variety winery-Winery vintage-Vintage {% set parts = w.region.split('-') %}{% set ns = namespace(prefix='') %}{% for p in parts %}{% if ns.prefix %}{% set ns.prefix = ns.prefix ~ '-' ~ p %}{% else %}{% set ns.prefix = p %}{% endif %} region-{{ns.prefix.replace(' ', '_')}}{% endfor %} {% for vrty in w.variety %} variety-{{vrty.split(' [')[0].replace(' ', '_')}} {% endfor %} {% for wnry in w.winery %} winery-{{wnry.replace(' ', '_')}} {% endfor %} {% if w.vintage %} vintage-{{w.vintage}} {% else %} vintage- {% endif %}">
                <img src="{{w.picture}}" height="200" alt="Bottle of {{w.name}}">
            </div>
            {% endfor %}
    </div>
{% endblock %}
