{% extends "layout.html" %}

{% block title %} {{ super() }} | {{month}}{% endblock %}

{% block content %}
    <h1 class="homepage-title">{{month}}</h1>
        {% for category in ingredients %}
            <div class="homepage-container">
                <h2>{{category[0].group.capitalize()}}</h2>
                {% for ingredient in category %}
                    <div class="homepage-pic" style="background-image: url({{ingredient.picture}});">
                        <span class="homepage-popup">
                            <p class="popup-name">
                                <b>{{ingredient.name}}</b>{% for alt in ingredient.alts %}, {{alt}}{% endfor %}
                            </p>
                            <div class="popup-months">
                                {% for i in range(1,13) %}
                                    <div class="popup-cell {% if i in ingredient.months %}filled{% endif %}">{{month_dict[i][:3]}}</div>
                                    {% endfor %}
                            </div>
                            <p class="popup-storage">{{ingredient.storage}}</p>
                        </span>
                    </div>
                    {% endfor %}
            </div>
            {% endfor %}
{% endblock %}
