{% extends "layout.html" %}

{% block title %} {{ super() }} | Menu{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='menu.js')}}"></script>
{% endblock %}

{% block content %}
    <div class="dropdown-menus">
        <div class="dropdown-container">
            <select class="dropdown-cuisine">
                <option>Cuisine</option>
                {% for region in regions %}
                    <optgroup label="{{region}}">
                    <!-- <option>{{region}}</option> -->
                        {% for cuisine in cuisines[region] %}
                            <option>{{cuisine}}</option>
                            {% endfor %}
                    </optgroup>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="dropdown-container">
            <select class="dropdown-course">
                <option>Course</option>
                <option>Breakfast</option>
                <option>Lunch & Dinner</option>
                <option>Dessert</option>
                <option>Basics</option>
                <option>Drinks</option>
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="dropdown-container">
            <select class="dropdown-group">
                <option>Group</option>
                {% for course in ['Breakfast', 'Lunch & Dinner', 'Dessert', 'Basics', 'Drinks'] %}
                    <optgroup label="{{course}}">
                        {% for group in groups[course] %}
                            <option>{{group}}</option>
                            {% endfor %}
                    </optgroup>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <!-- <div class="dropdown-container">
            <select class="dropdown-month">
                <option>Month</option>
                {% for i in month_dict %}
                    <option>{{month_dict[i]}}</option>
                    {% endfor %}
            </select>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div> -->
    </div>

    <div class="menu-month-menu">
        {% for i in range(1,13) %}
            <div class="menu-month-container">
                <label class="month-label">
                    <input type="checkbox" class="checkbox" name="{{month_dict[i]}}">
                    {{month_dict[i][:3]}}
                </label>
            </div>
            {% endfor %}
    </div>

    <table class="menu-table">
        <thead>
            <tr>
                <th class="add-ingredient-link" onclick="window.location.assign('{{url_for('newRecipe')}}');"><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
                <th>months</th>
                <th>cuisines</th>
                <th>groups</th>
                <th>courses</th>
                <th>occassions</th>
            </tr>
        </thead>
        <tbody class="show-group">
            {% for recipe in recipes %}
                <tr class="cuisine-Cuisine course-Course group-Group month-Month {% for cuisine in recipe.cuisines %}cuisine-{{cuisine}} {% endfor %}{% for course in recipe.courses %}course-{{course}} {% endfor %}{% for group in recipe.groups %}group-{{group}} {% endfor %}{% for month in recipe.months %}month-{{month_dict[month]}} {% endfor %}">
                    <td><a href="{{url_for('viewRecipe', recipe_id=recipe.id)}}" class="{% if recipe.ingredients|length < 2 %}empty-recipe{% endif %} recipe-link">{{recipe.name}}</a></td>
                    <td>{% for month in recipe.months%}<p>{{month_dict[month]}}</p>{% endfor %}</td>
                    <td>{% for cuisine in recipe.cuisines%}<p>{{cuisine}}</p>{% endfor %}</td>
                    <td>{% for group in recipe.groups%}<p>{{group}}</p>{% endfor %}</td>
                    <td>{% for course in recipe.courses%}<p>{{course}}</p>{% endfor %}</td>
                    <td>{% for occasion in recipe.occasions%}<p>{{occasion}}</p>{% endfor %}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
